<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Group Example Suite">
    <test verbose="2" preserve-order="true"
          name="Groups Example">
        <groups>
            <run>
                <include name="regression"></include>
                <exclude name="smoke"></exclude>
                <exclude name="sanity"></exclude>
            </run>
        </groups>
        <classes>

            <class name="TestNGBasics.GroupExample"></class>

        </classes>
    </test>
</suite>